{% extends 'Admin/base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}

<section class="container" id="section-home">
    <div class="col-md-9 card" style="height:25em; color: white">
        <div id="piechart" style="margin: auto auto;"></div>
    </div>
    <div class="col-md-9 card" style="height:25em; color: white; margin-top: 2em;">
        <div id="chart_div" style="margin: auto auto;"></div>
    </div>
</section>    

{% endblock %}
